<body>
	<div class="page">
		<h1 class="center">Contact Information</h1>
		<div class="contact">
			<h3 class="left-bound">Phone:</h3>
			<p class="left-bound">111-111-1111</p>
		</div>
		<div class="contact">
			<h3 class="left-bound">Email Address:</h3>
			<p class="left-bound">ExampleEmail@domain.com</p>
		</div>
	</div>
</body>